@model IEnumerable<FoodDto>

@{
    ViewData["Title"] = "Index";
}
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">


    @foreach (var food in Model)
    {
        <div class="col  mt-3">
            <div class="card shadow-sm">
                <img class="card-img-top" src="@food.Src" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@food.Name</h5>
                    <p class="card-text">
                        İçerisinde bilmediğimiz malzemeler olan pizzalar
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fiyat  @food.Price</li>
                    <li class="list-group-item">Kategori @food.CategoryName</li>
                </ul>

            </div>
        </div>
    }
</div>